.portfolio {
  width: 100%;
  padding: 140px 0px 100px 0px;
  &__container {
    width: 100%;
    margin: auto;

    @media screen and (max-width: 160rem) {
      max-width: 100rem;
    }
  }
  &__inner {
    width: 100%;
  }
  &__title {
    font-family: var(--font-header);
    span {
      font-weight: 600;
      text-transform: uppercase;
      color: var(--color-accent);
    }
    h3 {
      font-weight: 700;
      font-size: 2.4rem;
      color: var(--color-black);
      line-height: 1.4;
      width: 50%;
    }
  }
}

.project {
  &__list {
    width: 100%;
    height: auto;
    // clear: both;
    // float: left;
    padding-top: 97px;
    ul {
      margin: 0px 0px 0px -50px;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.project__hidden {
  top: 0;
  z-index: 300;
  position: fixed;
  top: 0;

  &.active &-overlay {
    transform: translate(0%, 0%);
  }

  &.active &-details {
    transform: translate(-50%, 0%);
  }

  &.active .close-overlay {
    visibility: visible;
    opacity: 1;
    transform: translate(0%, 0%);
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 200;
    opacity: 0.8;
    transform: translate(0%, -200%);
    transition: all 0.1s ease-in;
  }

  &-details {
    background-color: #fff;
    overflow-y: scroll;
    opacity: 1;
    backdrop-filter: blur(10px);
    position: fixed;
    height: 70vh;
    width: 70%;
    margin: auto;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -200%);
    z-index: 400;
    padding: 3rem 5rem;
    transition: all 0.1s ease-in;
  }
  &-top-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 37px;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 1;
      margin-bottom: -50%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  &-title {
    margin-bottom: 2.8rem;
    h3 {
      font-weight: 600;
      font-family: var(--font-header);
      font-size: 2.3rem;
      margin-bottom: 5px;
      color: var(--color-black);
    }
    span {
    }
  }
  &-main_details {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    margin-bottom: 55px;
  }
  &-textbox {
    width: 70%;
    padding-right: 40px;
    p:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &-detailbox {
    width: 30%;
    padding-left: 40px;
    ul {
      margin: 0px;
      list-style-type: none;
      li {
        margin: 0px 0px 8px 0px;
        width: 100%;
        span {
          &:first-child {
            font-weight: 700;
            display: block;
            color: #000;
            margin-bottom: 3px;
          }
          &:last-child {
            a {
              text-decoration: none;
              color: #767676;

              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;

              img {
                width: 2rem;
              }

              &:hover {
                color: #000;
                letter-spacing: 2px;
              }
            }
          }
        }
      }

      .share {
        display: flex;
        list-style: none;
        gap: 2rem;
        li {
          width: 1.5rem;
        }
        a {
          display: inline-block;
        }
        // gap: 0.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.additional_images {
  width: 100%;
  height: auto;
  // clear: both;
  // float: left;
  ul {
    margin: 0px 0px 0px -30px;
    list-style-type: none;
    li {
      margin: 0px 0px 30px 0px;
      float: left;
      width: 50%;
      padding-left: 30px;

      &:nth-child(3n-2) {
        width: 100%;
      }
    }
  }

  .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
  }
  .my_image {
    position: relative;
    .thumbnail {
      opacity: 1;
      min-width: 100%;
      position: relative;
    }

    .main {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }
}

.close-overlay {
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 1000;
  transition: all 0.1s ease-in;
  transform: translate(0%, -200%);
  background-color: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  svg {
    fill: var(--color-white);
    width: 5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
