.news {
  width: 100%;
  background-color: #f9f9f9;
  padding: 14rem 0;
  &__container {
    width: 100%;
    margin: auto;

    @media screen and (max-width: 160rem) {
      max-width: 100rem;
    }
  }
  &__title {
    width: 100%;
    max-width: 50rem;
    font-family: "Poppins";
    span {
      font-weight: 600;
      text-transform: uppercase;
      color: #d1701f;
      margin-bottom: 1rem;
    }
    h3 {
      font-weight: 700;
      color: var(--color-black);
      font-size: var(--font-size-md);
      margin-bottom: 2rem;
      line-height: 1.4;
    }
  }
  &__list {
    width: 100%;
    padding-top: 90px;

    ul {
      margin: 0px 0px 0px -50px;
      list-style-type: none;
      display: flex;
    }

    li {
      margin: 0px 0px 50px 0px;
      width: 33.3333%;
      padding-left: 50px;
    }
  }
  &__item {
    &--inner {
      width: 100%;
      position: relative;
    }
    &--image {
      position: relative;
      overflow: hidden;
      border-radius: 10px;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--image:hover &--main {
      transform: scale(1.1);
    }

    &--main {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 8px;

      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &--link {
    }
    &--details {
      width: 100%;
      padding-top: 9px;

      span a {
        &:hover {
          color: var(--color-accent);
        }
      }

      a {
        text-decoration: none;
        color: #767676;
        position: relative;
        display: inline-block;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
    &--title {
      a:hover {
        color: var(--color-accent);
      }
    }
  }
}

// .hide__content {
//   width: 100%;
//   transition: all 0.2s ease-in;
//   .close {
//     color: white;
//     position: fixed;
//     background-color: transparent;
//     border: none;
//     top: 18%;
//     right: 15%;
//     z-index: 2000;
//     font-size: 2rem;
//     font-weight: 700;
//     font-family: var(--font-header);
//     transform: translate(0%, -200%);
//     visibility: hidden;
//     opacity: 0;
//     transition: all 0.1s ease-in;

//     &:hover {
//       cursor: pointer;
//       opacity: 0.8;
//     }
//   }

//   &.active .close {
//     visibility: visible;
//     opacity: 1;
//   }

//   &.active .overlay {
//     transform: translate(0%, 0%);
//   }

//   &.active .descriptions {
//     transform: translate(-50%, -50%);
//   }
// }

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: black;
//   height: 100vh;
//   width: 100%;
//   z-index: inherit;
//   height: 100vh;
//   z-index: 200;
//   opacity: 0.8;
//   backdrop-filter: blur(10px);
//   transform: translate(0%, -200%);
//   transition: all 0.1s ease-in;
// }
// .descriptions {
//   transform: translate(-50%, -200%);
//   background-color: #fff;
//   overflow-y: scroll;
//   position: fixed;
//   padding: 5rem;
//   top: 50%;
//   left: 50%;
//   margin: auto;
//   width: 70%;
//   height: 70vh;
//   z-index: 250;
//   margin-bottom: 15px;
//   transition: all 0.1s ease-in;

//   .image {
//     position: relative;
//     max-height: 45rem;
//     overflow: hidden;
//     // z-index: -1;
//     border-radius: 10px;
//     margin-bottom: 2.8rem;
//     img {
//       //   position: relative;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }

//     .main {
//       position: absolute;
//       top: 0px;
//       bottom: 0px;
//       left: 0px;
//       right: 0px;
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center;
//       border-radius: 8px;
//     }
//   }

//   .details {
//     a {
//       text-decoration: none;
//       display: inline-block;
//       margin-left: 1rem;
//     }
//     h3 {
//       font-size: 2.4rem;
//       color: var(--color-black);
//     }
//     margin-bottom: 2rem;
//   }

//   .content {
//     p {
//       margin-bottom: 18px;
//     }
//   }
// }

// .bigger {
//   color: #888;
//   font-size: 20px;
//   margin-bottom: 31px;
// }
// .quotebox {
//   width: 100%;
//   height: auto;
//   position: relative;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   font-size: 20px;
//   font-style: italic;
//   margin-bottom: 18px;
//   border-left: 2px solid #d1701f;
//   padding-left: 30px;
//   color: #000;
// }
