:root {
  //COLORS
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #d1701f;

  --color-gray-1: #767676;
  --color-gray-2: #7e7e7e;
  --color-gray-3: #888;
  --color-gray-4: #999;
  --color-gray-5: #ddd; //portfolio list
  --color-gray-6: #f9f9f9; //hero section

  --color-error: #f52225;
  --color-request: #3a00ff;

  //FONT-FAMILY
  --font-body: "Mulish", sans-serif;
  --font-header: "Poppins", sans-serif;
  //poppins - 600, 500, 900, 700, 800, 400,
  //mulish - 400

  //SIZES
  --font-size-regular: 1.6rem;
  --font-size-semi-md: 2rem;
  --font-size-md: 2.4rem;
  --font-size-semi-lg: 3rem;
  --font-size-lg: 3.6rem;
  --font-size-xl: 4.5rem;
  --font-size-xxl: 5.5rem;

  //WEIGHTS
  --font-weight-regular: 400;
  --font-weight-md: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

// 01)	RYKER BASE
// 02) RYKER TOPBAR
// 03) RYKER MOBILE MENU
// 04) RYKER HERO
// 05) RYKER ABOUT
// 06) RYKER SERVICES
// 07) RYKER PORTFOLIO
// 08) RYKER VIDEO
// 09) RYKER TESTIMONIALS
// 10) RYKER NEWS
// 11) RYKER CONTACT
// 12) RYKER COPYRIGHT
// 13) RYKER MAGIC CURSOR
// 14) RYKER MEDIA QUERIES (FOR SMALL DEVIVES)

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish";
  font-size: 1.6rem;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-gray-1);
  overflow-x: hidden;
  width: 100%;
}

.leaflet {
  &-pane {
    height: 100%;
    width: 100%;
  }

  &-proxy {
    height: 10rem;
  }
}

.leaflet-container {
  width: 100%;
  height: 30rem;
}

.custom-cursor {
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  pointer-events: none;
  border: 2px solid var(--color-accent);
  transform: translate(-50%, -50%);
  z-index: 9999999;
  transition: all 0.5s;

  .dot {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    transform-origin: center;
    transition: all 0.5s;
  }

  &.active {
    border: none;
    .dot {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0.5;
    }
  }
}

.splide__arrow {
  background-color: var(--color-accent);
  height: 5rem;
  width: 5rem;
  svg {
    fill: white;
  }

  &--prev {
    left: -5%;
  }
  &--next {
    right: -5%;
  }
}
